<p>product-list works!</p>
<div class="h3 text-center">Quản Lý Sản Phẩm</div>
<th><button (click)="change()" class="btn btn-success m-5">Ẩn/Hiện Bảng</button></th>

<div class="container-fluid text-center">
    <table class="table table-striped text-black-50 container" *ngIf="status">
       <thead>
        <tr>
            <th>Id</th>
            <th>Tên Sản Phẩm</th>
            <th>Giá</th>
            <th>Ảnh</th>
            <th colspan="2">Action</th>
        </tr>
       </thead>
        <tbody>
            <tr  app-product-item
        *ngFor="let product of products; let i = index"
        [product]="product"
        [index]="i"
        (onRemove)="removeItem($event)"class="my-3" >
        </tr>
        </tbody>
    </table>
</div>